{:paths ["scripts"]
 :tasks
 {:requires ([tasks :as t])

  ;; Use the -d arg to make the task a dry-run.
  publish {:doc "Usage: bb publish [-d]"
           :task t/publish!}

  ci:release-notes {:doc "Get release notes for <version>"
                    :task t/print-release-notes!}

  ;; The -d arg needs to go last. It will make the task a dry-run.
  ci:bump-version {:doc "Usage: bb bump-version <email> <user-name> [-d]"
                   :task t/bump-version!}}}
