{:paths ["scripts"]
 :tasks
 {:requires ([tasks :as t])

  ;; Tasks that take a -d arg support a dry-run.
  ;; -d needs to go last of any other args.

  publish {:doc "Usage: bb publish [-d]"
           :task t/publish!}

  package-pre-release {:doc "Usage: bb package-pre-release <branch> [-d]"
                       :task t/package-pre-release!}

  ci:release-notes {:doc "Get release notes for <version>"
                    :task t/print-release-notes!}

  ci:bump-version {:doc "Usage: bb bump-version <email> <user-name> [-d]"
                   :task t/bump-version!}}}
